<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('extjs6/build/classic/theme-classic/resources/theme-classic-all.css')?>">
    <!--link rel="stylesheet" type="text/css" href="<?php echo base_url('extjs6/build/classic/theme-crisp/resources/theme-crisp-all.css')?>"-->
    <!--link rel="stylesheet" type="text/css" href="<?php echo base_url('extjs6/build/classic/theme-neptune/resources/theme-neptune-all.css')?>"-->
    <!--link rel="stylesheet" type="text/css" href="<?php echo base_url('extjs6/build/classic/theme-gray/resources/theme-gray-all.css')?>"-->
    <script type="text/javascript" src="<?php echo base_url('extjs6/ext-bootstrap.js') ?>"></script>
    <script type="text/javascript" src="<?php echo base_url('extjs6/build/ext-all.js') ?>"></script>
    <script type="text/javascript" src="<?php echo base_url('extjs6/build/classic/locale/locale-zh_CN.js') ?>"></script>
    <script type="text/javascript" src="<?php echo isset($js)? $js:''?>"></script>

    <title>Title</title>
</head>
<body>

</body>
</html>