<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('ext-4.2.1/resources/css/ext-all.css')?>">
    <script type="text/javascript" src="<?php echo base_url('ext-4.2.1/bootstrap.js') ?>"></script>
    <script type="text/javascript" src="<?php echo isset($js)? $js:''?>"></script>

    <title>Title</title>
</head>
<body>
<div style="width: 300px;height: 30px;margin: 0 auto"><a href="/">返回首页</a> </div>
<div style="width: 300px;height: 200px;margin: 0 auto;background-color: #afd3ed;padding-top: 30px;padding-left: 20px">
    <input type="button" id="find_less_than_zero" value="找到小于0的值">
    <input type="button" id="get_greater_than_zero" value="获取大于0的所有值">

</div>
</body>
</html>