<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('ext-4.2.1/resources/css/ext-all.css')?>">
    <script type="text/javascript" src="<?php echo base_url('ext-4.2.1/bootstrap.js') ?>"></script>
    <script type="text/javascript" src="<?php echo isset($js)? $js:''?>"></script>

    <title>Title</title>
</head>
<body>
<div style="width: 300px;height: 30px;margin: 0 auto"><a href="/">返回首页</a> </div>
<div style="width: 600px;height: 300px;margin: 0 auto;background-color: #afd3ed">
    <p>
        命名空间的引用：在主应用程序中，使用
        <pre>
        Ext.Loader.setConfig({
            enabled:true,
            paths:{
                myApp:'/assets/js/study/ux';
            }
        }
        );

        </pre>
    </p>
    <input type="button" id="id0" value="使用JS命名空间,来调用一个窗口类"><br><br>


</div>

</body>
</html>